<mat-toolbar class="mx-auto shadow-md space-x-4">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
  <a href="">Dashboard</a>
  <span class="flex-1"></span>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="dark_mode"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_circle"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
</mat-toolbar>
