<app-header></app-header>

<mat-drawer-container [autosize]="true" class="bg-slate-200 text-lg h-full">
  <mat-drawer mode="side" opened class="p-8 w-auto bg-slate-200">
    <div class="flex items-center h-fit w-[350px] rounded-2xl gap-3 pt-4 pb-1 px-4 hover:bg-white">
      <mat-icon fontIcon="home" class="mb-3"></mat-icon>
      <p class="text-xl mt-10">Tasks</p>
    </div>
    <div class="flex items-center h-fit w-[350px] rounded-2xl gap-3 pt-4 pb-1 px-4 hover:bg-white">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star" class="mb-3"></mat-icon>
      <p class="text-xl mt-10">Importent</p>
    </div>
    <div class="flex items-center h-fit w-[350px] rounded-2xl gap-3 pt-4 pb-1 px-4 hover:bg-white">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_month" class="mb-3"></mat-icon>
      <p class="text-xl mt-10">Planned</p>
    </div>
  </mat-drawer>

  <mat-drawer-content class="mx-auto">
    <div class="flex flex-col justify-center items-center w-full p-4">
      <mat-card-header class="text-2xl font-medium mb-4">TASKS</mat-card-header>

      <mat-card class="mx-auto px-4 rounded-3xl p w-[900px] flex flex-row">
        <div class="flex flex-row items-center mt-3">
          <button>
            <mat-icon fontIcon="add" class="mb-2"></mat-icon>
          </button>
          <mat-card-content>



<!-- ======================================================================================== -->


            <form  class="flex relative" #formContent="ngForm" (ngSubmit)="addTask(formContent)">
            <input
            name="task"
            class="w-[750px]  required outline-none" matInput
            placeholder="Add a Task"
            ngModel
            #newtask='ngModel'
            required
            [ngClass]="{'border-red-300 border-2': newtask.invalid && newtask.touched}"/> <br>
            <small class="absolute z-50 top-8" *ngIf="newtask.touched && newtask.invalid"><P class="text-red-600" *ngIf="newtask.errors?.['required']">Please insert a task</P></small>
             <button [disabled]="newtask.invalid" mat-button color="primary">Add</button>
            </form>


<!-- ========================================================================================= -->



          </mat-card-content>
        </div>
      </mat-card>

      <mat-card *ngFor="let item of taskArray let i=index"  class="mx-auto mt-2 px-4 rounded-3xl p w-[900px] flex flex-row">
        <div class="flex flex-row items-center mt-3">
          <button (click)="onComplete(i)">
          <mat-icon  fontIcon="radio_button_unchecked" class=""></mat-icon>
          </button>
          <mat-card-content class="-mt-3">{{item}}</mat-card-content>
          <span class="flex flex-1"></span>
          <mat-icon fontIcon="star" class="mx-6 mr-8 mb-4"></mat-icon>
        </div>
      </mat-card>

      <mat-card-header class="text-2xl font-medium mt-32 mb-4">COMPLETED</mat-card-header>
      <mat-card  *ngFor="let item of completeArray" class="mx-auto mb-2 pt-2 p-2 px-4 rounded-3xl w-[900px] flex flex-row">
        <div class="flex flex-row items-center">
          <mat-icon fontIcon="done_all" class=""></mat-icon>
          <mat-card-content>{{item}}</mat-card-content>
          <span class="flex flex-1"></span>
          <button (click)="onDelete(i)">
          <mat-icon  fontIcon="delete" class=""></mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
